              /* GENERAL */
body {
  padding-top: 50px;
  height: 100%;
  width: 100%;
}



/*gradient transition : https://codepen.io/chriscoyier/pen/eRbLWP */
@media only screen and (min-device-width: 768px) {
  #bgindex, #bgfiles, #bgprojs, #bglife, #bgme, #bghobby, #bgbball, #bgdance, #bgcubin, #bgvg{
    position: fixed;
  }
  #bgindex{
    background: url("../images/mevaporwave(1).JPG") no-repeat center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    height: 100%;
    width: 100%;
  }
  .bghover:hover{
    filter: none; !important;
    transition: filter 2s; !important;
  }
  #btnopendiv{
    display: inline-block;
    margin: 20% 20% 20% 0;
    position: relative;
  }
  #btnwelcome{
    color: white;
    border: 4px solid white;
    background-color: inherit;
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    z-index: 1;
    background: linear-gradient(to right, #33ccff 0%, #b967ff 0%, #05ffa1 0%, #ff71ce 100%);
    position: absolute;
  }
  /*#btnwelcome:hover{
    background-image: linear-gradient(to right, #33ccff 0%, #b967ff 0%, #05ffa1 0%, #ff71ce 100%);
    border-radius: 4px;
    transition:  2s;
  }*/

  #bgprojs{

  }
  #activew{
    background: linear-gradient(to right, #33ccff 0%, #b967ff 0%, #05ffa1 0%, #ff71ce 100%);
    color: white;
  }
  .maincontainer{
    background-color: white;
    -webkit-box-shadow: 0 0 15px;
    -moz-box-shadow: 0 0 15px;
    box-shadow: 0 0 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .navbar-brand{
    position: relative;
    z-index: 1; /* matters! */
  }
  .navbar-brand::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #33ccff 0%, #b967ff 0%, #05ffa1 0%, #ff71ce 100%);
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
  }
  .navbar-brand:hover::before{
    opacity: 1;
  }

  .btnreturn{
    margin: -17px 0 0 10px;
    color: #05ffa1;
    border: 1px solid #05ffa1;
    background-color: transparent;
    font-size: 18px;
    padding-left:35px;
    padding-right: 35px;
    position: relative;
  }
  .btnreturn:hover{
    background-color: #05ffa1;
    color: black;
  }
  .btnreturn span{
    right: 0;
    position: relative;
    transition: all 0.2s ease-out 0s;
  }

  .btnreturn i{
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -9px;
    line-height: 18px;
    opacity: 0;
    transition: all 0.2s ease-out 0s;
  }

  .btnreturn:hover span{
    right: -15px;
  }

  .btnreturn:hover i{
    opacity: 1;
    left: 20px;
  }
  #password{
    float: none;
    width: 16.66666667%;
  }
  .flogo{
    height: 40px;
    width: 40px;
  }
  .itlogo{
    height: 100px;
    width: 100px;
  }
  .bgimage-1{
    min-height: 100%;
    position: relative;
    background: url("../images/mepic(1).JPG") no-repeat top fixed;
    background-size: contain;
    height: 500px;
    margin: 0;
  }
  .bgimage-2{
    min-height: 100%;
    position: relative;
    background: url('../images/mepic(4).JPG') no-repeat center fixed;
    background-size: contain;
    height: 500px;
    margin: 0;
  }
}






/* !!!FOR MOBILE DESIGNING!!! */
/* !!!FOR MOBILE DESIGNING!!! */
/* !!!FOR MOBILE DESIGNING!!! */
@media only screen and (max-device-width: 767px){
  #btnwelcome{
    display: none;
  }
  #btnfile{
    margin: 10px auto 0 auto;
    text-align: center;
  }
  .btnreturn{
    color: #05ffa1;
    border: 1px solid #05ffa1;
    background-color: transparent;
    font-size: 18px;
  }
  .btnreturn span{
    right: -15px;
  }
  .btnreturn i{
    left: 20px;
  }
  .btnreturndiv{
    text-align: right;
  }
  .btnreturn-ing{
    margin-top: -17px;
  }


  .filedetails-sho{
    margin-top: -20px;
  }
  #heading{
    text-align: center;
  }
  .navbar-header{
    background: linear-gradient(to right, #33ccff 0%, #b967ff 0%, #05ffa1 0%, #ff71ce 100%);
    color: white;
  }
  .bgimage-1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #contfile{
    text-align: center;
  }
  .flogo{
    height: 35px;
    width: 35px;
  }
  .rhobbies{
    text-align: center;
  }
  #footer{
    text-align: center;
  }
  .bgimage-2{
    background: url('../images/mepic(4).JPG') no-repeat right;
    background-size: cover;
    height: 500px;
    margin: 0;
  }
}




@media only screen and (min-device-width: 415px){
  .btnreturn{
    margin: -17px 0 0 10px;
    color: #05ffa1;
    border: 1px solid #05ffa1;
    background-color: transparent;
    font-size: 18px;
  }
}
/*@media only screen and (min-device-width: 378px) and (max-device-width: 378px){
  .btnreturn{
    margin-top: -17px;
  }
}*/
@media only screen and (max-device-width: 414px) {

  #btnreturnbball{
    padding-left: 163px;
  }
  #btnreturnvg{
    padding-left: 198px;
  }
}




              /* GENERAL*/
#off{
  display: none;
}
#smashlogo{
  margin-top: -7px;
  height: 20px;
  width: 20px;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*------------------------NAVIGATION BAR---------------------*/
#activef{
  background-color: #ff71ce;
  color: white;
}
#activep{
  background-color: #b967ff;
  color: white;
}
#activel{
  background-color: #33ccff;
  color: white;
}
#activeh{
  background-color: #05ffa1;
  color: white;
}
.navbar{
  border: none;
  box-shadow: none;
}
.navbar-collapse{
  border-top: none;
}
/*some other animations:
  https://codepen.io/pedrocampos/pen/gufrx/
 */
/*to be adjusted in scss*/
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}



#website{
  color: white;
}

#file{
  color: #ff71ce;
}
#file:hover{
  background-color: #ff71ce;
  color: white;
}

#project{
  color: #b967ff;
}
#project:hover{
  background-color: #b967ff;
  color: white;
}

#life{
  color: #33ccff;
}
#life:hover{
  background-color: #33ccff;
  color: white;
}

#hobby{
  color: #05ffa1;
}
#hobby:hover{
  background-color: #05ffa1;
  color: white;
}

#logout:hover{
  background-color: #444;
}
#file, #project, #life, #hobby, #logout{
  transition: background-color 1s ease;
}
/*------------------------NAVIGATION BAR---------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*------------------------BUTTONS----------------------------*/

.btnhobby{
  transition: background-color 10s ease;
  transition: color 1s ease;
  margin-bottom: 0.5em;
  color: #05ffa1;
  border: 1px solid #05ffa1;
  background-color: inherit;
  font-size: 18px;
}
.btnhobby:hover{
  background-color: #05ffa1;
  color: black;
}
#btnfile{
  transition: background-color 10s ease;
  transition: color 1s ease;
  border: 1px solid #ff71ce;
  color: #ff71ce;
  background-color: inherit;
}
#btnfile:hover{
  background-color: #ff71ce;
  color: black;
}

/*------------------------BUTTONS----------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*------------------------DIVS-------------------------------*/
.btnreturndiv{
  display: inline-block;
}
.panel-broken{

}
                       /* TITLES */
.containername{
  border-bottom: 2px solid black;
}
                       /* TITLES */
                       /* HEADING */
#heading{
  margin-bottom: 10px;
}
#h1project{
  display: inline-block;
  margin: 0;
  padding: 20px 0 10px 0;
}
.panel-broken{
  border-color: #ff71ce;
}
.panel-broken > .panel-heading{
  color: #4c4c4c;
  background-color: #ffbee8;
}
.panel-fin{
  border-color: #33ccff;
}
.panel-fin > .panel-heading{
  color: #4c4c4c;
  background-color: #80dfff;
}
.panel-itm{
  border-color: #b967ff;
}
.panel-itm > .panel-heading{
  color: white;
  background-color: #dcb4ff;
}
#fin{
  background-color: #80dfff;
}
#broken{
  background-color: #ffbee8;
}
#unfin{

}
#divcexp{
  display: inline-block;
}
.cexp{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 20px 0 3px 0;
}
.cdef{
  display: inline;
  margin: 20px 0 3px 0;

}
#h1hobby{
  display: inline-block;
}
.h2{
  margin: 0;
}
.huek{
  margin-bottom: 0;
}
.hvgames{
  margin: 0 0 10px 0;
}
.filename{
  margin: 0;
  padding-left: 15px;
  padding-top: 0.2px;
}
.htitle{
  color: #4c4c4c;
}
.hlink{
  color: #4c4c4c;
  text-decoration: underline;
}
.hlink:hover{
  color: #4c4c4c;
}
                       /* VIDEOSTUFF */
.videoinformation{
  background-color: #f5f5f5;
}
.embed-responsive-yt{
  padding-bottom: 56.4%;
}
.embed-responsive-item{
  border-radius: 0 0 4px 4px;
}
                       /* VIDEOSTUFF */
                       /* PARALLAX */
.bgimage-1{
  background: url('../images/mepic(1).JPG') no-repeat center;
  height: 500px;
  margin: 0;
}
.parallaxme-1{
  padding: 0 15px;
}

.parallaxme-1{
  padding: 0 15px;
}
                       /* PARALLAX */
                       /* ABOUT ME */
#innerdivme{
  margin: 0;
  background-color: lightgray;
}
.abtme{
  background-color: lightgray;
  margin: 10px -15px;
  padding: 10px 15px;
}
#bwdlink:hover{
  text-decoration: none;
  color: #337ab7;
}
#gibblink{
  font-family: "Open Sans",sans-serif;
  color: white;
  font-weight: bold;
}
#gibblink:hover{
  color: white;
  text-decoration: none;
}
#bbclink{
  color: gray;
}
#bbclink:hover{
  color: gray;
  text-decoration: none;
}

                       /* ABOUT ME */
                       /* ROWS */
.rhobbies{
  padding-left: 18px;
  padding-right: 18px;
}
.rfilecontainer{
  padding-left: 16px;
  padding-right: 16px;
}
.rfilecontainer-mid{
  margin-top:25px;
}
.rfileundercontainer{
  padding: 0 16px 0 16px;
}
.rcontent{
  padding-top: 20px;
  margin: 0 30px 0 30px;
  border-bottom: 2px dotted black;
}
                       /* ROWS */
                       /* COLUMNS */
.undercontainername{
  padding-top: 20px;
  margin: 0 15px 0 15px;
  border-bottom: 2px solid black;
}
.filedetails{
  display: inline-block;
  float: right;
  padding-right: 15px;
}
/*------------------------SPAN-------------------------------*/
#vppink{
  color: #ff71ce;
}
#vpviol{
  color: #b967ff;
}
#vpblue{
  color: #33ccff;
}
#vpgree{
  color: #05ffa1;
}
/*------------------------FILE-------------------------------*/

/*------------------------FOOTER-----------------------------*/
#hfooter{
  margin-top: 0;
}
/*------------------------FOOTER-----------------------------*/
@font-face{
  font-family:"Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: "Open Sans Bold";
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: "Open Sans Extra Bold";
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}

              /* content container for the webpage */
              /*.content-wrapper {

                display: flex;
                justify-content: center;
                perspective: 800px;
              }


              !* card container *!
              .card-wrapper {
                height: 208px;
                width: 321px;
                perspective:800px;
              }

              !* card *!
              .card{
                width:100%;
                height: 100%;

                transform-style:preserve-3d;

                -webkit-transition: transform 1.5s;
                transition: transform 1s;
              }

              !* front side of the card *!
              .front{
                position: absolute;
                height:100%;
                width:100%;

                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;

                text-align: center;
                font-family: Helvetica;
              }

              !* back side of the card *!
              .back{
                position: absolute;
                height:100%;
                width:100%;
                background-color: #999999;

                -ms-transform: rotateY(-180deg); !* IE 9 *!
                -webkit-transform: rotateY(-180deg); !* Safari *!
                transform: rotateY(-180deg);

                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;

                color: #fff;
                text-align: center;
                line-height: 208px;
                font-family: Helvetica;
              }

              !* flipping the card on hover *!
              .card:hover {
                -ms-transform: rotateY(-180deg); !* IE 9 *!
                -webkit-transform: rotateY(-180deg); !* Safari *!
                transform: rotateY(-180deg);
              }*/
