              /* GENERAL */
body {
  padding-top: 50px;
  height: 100%;
  width: 100%;
}
#h1hobby{
  display: inline-block;
}
#filebtn{
  float: left;
}
/*gradient transition : https://codepen.io/chriscoyier/pen/eRbLWP */
@media only screen and (min-device-width: 1024px) {
  .navbar-brand{
    position: relative;
    z-index: 1; /* matters! */
  }
  .navbar-brand::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #33ccff 0%, #b967ff 0%, #05ffa1 0%, #ff71ce 100%);
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
  }
  .navbar-brand:hover::before{
    opacity: 1;
  }
}
/* for mobile designing */
@media only screen and (max-device-width: 1024px) {
  .filedetails-sho{
    margin-top: -20px;
  }
  .navbar-header{
    position: relative;
    z-index: 1; /* matters! */
  }
  .navbar-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #33ccff 0%, #b967ff 0%, #05ffa1 0%, #ff71ce 100%);
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
 }
  .navbar-header:hover::before{
    opacity: 1;
  }
}
              /* GENERAL*/

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*------------------------NAVIGATION BAR---------------------*/
.navbar{
  border: none;
  box-shadow: none;
}
.navbar-collapse{
  border-top: none;
}
/*some other animations:
  https://codepen.io/pedrocampos/pen/gufrx/
 */
/*to be adjusted in scss*/
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}



#website{
  color: white;
  /*width: 298px;*/
}

#file{
  color: #ff71ce;
}
#file:hover{
  background-color: #ff71ce;
  color: white;
}

#project{
  color: #b967ff;
}
#project:hover{
  background-color: #b967ff;
  color: white;
}

#life{
  color: #33ccff;
}
#life:hover{
  background-color: #33ccff;
  color: white;
}

#hobby{
  color: #05ffa1;
}
#hobby:hover{
  background-color: #05ffa1;
  color: white;
}

#logout:hover{
  background-color: #444;
}
#file, #project, #life, #hobby, #logout{
  transition: background-color 1s ease;
}
/*------------------------NAVIGATION BAR---------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*------------------------BUTTONS----------------------------*/

.btnhobby{
  transition: background-color 10s ease;
  transition: color 1s ease;
  margin-bottom: 0.5em;
  color: #05ffa1;
  border: 1px solid #05ffa1;
  background-color: inherit;
  font-size: 18px;
}
.btnhobby:hover{
  background-color: #05ffa1;
  color: black;
}

.btnreturn{
  margin-top: -17px;
  margin-left: 10px;
  color: #05ffa1;
  border: 1px solid #05ffa1;
  background-color: transparent;
  font-size: 18px;
  padding-left:35px;
  padding-right: 35px;
  position: relative;
}
.btnreturn:hover{
  background-color: #05ffa1;
  color: black;
}
.btnreturn span{
  right: 0;
  position: relative;
  transition: all 0.2s ease-out 0s;
}

.btnreturn i{
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -9px;
  line-height: 18px;
  opacity: 0;
  transition: all 0.2s ease-out 0s;
}

.btnreturn:hover span{
  right: -15px;
}

.btnreturn:hover i{
  opacity: 1;
  left: 20px;
}
/*------------------------BUTTONS----------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*------------------------DIVS-------------------------------*/
                       /* TITLES */
.groupname{
  border-bottom: 2px solid black;
}
                       /* TITLES */
                       /* HEADING */
.h{
  margin: 0;
}
.huek{
  margin-bottom: 0;
}
.filename{
  margin: 0;
  padding-left: 15px;
  padding-top: 0.2px;
}
                       /* VIDEOSTUFF */
.embed-responsive-yt{
  padding-bottom: 56.4%;
}
                       /* VIDEOSTUFF */
                       /* PARALLAX */
.bgimage-1{
  background-image: url("../images/mepic.JPG");

}
.bgimage-1, .bgimage-2{
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimage-2{
  background-image: url('../images/mevaporwave(1).JPG');
  min-height: 100%;
}
                       /* PARALLAX */
                       /* ROWS */
.rhobbies{
  padding-left: 18px;
  padding-right: 18px;
}
.rfilegroup{
  padding-left: 16px;
  padding-right: 16px;
}
.rfilegroup-mid{
  margin-top:25px;
}
.rfileundergroup{
  padding: 0 16px 0 16px;
}
.rcontent{
  padding-top: 20px;
  margin: 0 30px 0 30px;
  border-bottom: 2px dotted black;
}
                       /* ROWS */
                       /* COLUMNS */
.undergroupname{
  padding-top: 20px;
  margin: 0 15px 0 15px;
  border-bottom: 2px solid black;
}
.filedetails{
  display: inline-block;
  float: right;
  padding-right: 15px;
}